.header{
    display: flex;
    margin: 0;
    padding: 0.5rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    &__title{
        font-size: 2rem;
        margin: 0;
    }

    &__link-cat{
        padding-left: 2rem;
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0;
    }

    &__link-dog{
        padding-left: 4rem;
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0;
    }

    &__link-fox{
        padding-left: 4rem;
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0;
    }

    &__link-cat:hover{
        color:lightgreen;
    }

    &__link-dog:hover{
        color:lightpink;
    }

    &__link-fox:hover{
        color: lightskyblue;
    }

    &__link-container{
        display: flex;
    }
}